.board {
    display: grid;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px);
    gap: 5px; 
}

.tile {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted #000000;
}

.bush {
    background-image: url(../img/bush.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.player {
    background-color: blue;
    color: white;          
    font-size: 1.2rem;      
    font-weight: bold;    
     
    display: flex;         
    align-items: center; 
    justify-content: center; 
}

.game-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.control-button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.control-button:hover {
    background-color: #357be2;
}

.controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}